*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url("https://cdn.vectorstock.com/i/1000v/70/07/tic-tac-toe-game-abstract-background-vector-1447007.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

/* Main Game Wrapper */
main{
    background: rgba(231, 221, 221, 0.75);
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 30px rgba(0,0,0,0.8);
}

h1{
    color:rgb(231, 143, 143);
    font-family:sans-serif;
    margin-bottom:20px;
    font-size:3rem;
    text-shadow:1rem rgb(174, 152, 178);
}

/* Game Grid */
.game{
    width:420px;
    height:420px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap:15px;
    margin:auto;
}

/* Boxes */
.box{
    border:none;
    border-radius:15px;
    font-size:70px;
    font-weight:bold;
    cursor:pointer;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.5);
    transition:0.2s ease;
}

.box:hover{
    background:wheat;
    transform:scale(1.05);
}

/* Buttons */
#reset-btn, #newbtn{
    margin-top:20px;
    padding:12px 25px;
    font-size:20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-family:sans-serif;
    
}

#reset-btn{
    background:#a8a38f;
    color:rgb(156, 85, 85);
    
}

#newbtn{
    background:#4CAF50;
    color:white;

}

#msg{
    color:white;
    font-size:35px;
    font-family:sans-serif;
}

.msg-container{
    position:absolute;
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:rgba(0,0,0,0.85);
    gap:30px;
}

.hide{
    display:none;
}